* {
  box-sizing: border-box;
  margin-bottom: 15px;
}

body {
	font-family: Verdana, Geneva, sans-serif;
}

h1,h2 {
	text-align: center;
}

p {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}